@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}

a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}

h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}

.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
	color: #fff;
}

.intro {
	height: 98%;
	padding: 20px;
}
.section{
	text-align:center;
}

/*******************
	MENU
*******************/


#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 5px;
            border-radius: 5px;
}
#menu li.active{
	background: rgba(31, 11, 117, 0.9);
	color: #fff;
}
#menu li a {
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

/*******************
	RESUM PAGE
*******************/

.LN_title_resum {
	margin-top: 0px;
	margin-bottom: 15%;
	opacity: 0;
    font-family: 'kreonregular';
}

.LN_roundedImage {
	overflow: hidden;
	border-radius: 250px;
	width: 290px;
	height: 290px;
}

.LN_photo {
	position: absolute;
	right: 12%;
}

.talk-bubble {
	display: inline-block;
	position: absolute;
	left: 53%;
	top: 15%;
	width: 300px;
	height: auto;
	background-color: rgb(230, 230, 230);
}
.border{
	border: 5px solid #666;
}

.round{
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

.tri-right.border.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -37px;
	right: auto;
	top: 20px;
	bottom: auto;
	border: 17px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -24px;
	right: auto;
	top: 26px;
	bottom: auto;
	border: 12px solid;
	border-color: rgb(230, 230, 230) rgb(230, 230, 230) transparent transparent;
}

.talktext{
	height: 100px;
	padding-left: 40px;
	text-align: left;
	line-height: 100px;
}

.LN_box {
	float: left;
	text-align: left;
	position: absolute;
	padding: 50px;
	background-color: rgb(230, 230, 230);
	-moz-box-shadow: 0px 1px 5px 0px  #656565;;
	-webkit-box-shadow: 1px 5px 0px 0px  #656565;;
	-o-box-shadow: 0px 1px 5px 0px  #656565;;
	box-shadow: 0px 1px 5px 0px  #656565;;
	filter:progid:DXImageTransform.Microsoft.Shadow(color= #656565;, Direction=180, Strength=5);
    -webkit-transition: border-bottom 0.3s, box-shadow 0.3s;
    transition: border-bottom 0.3s, box-shadow 0.3s;
}

.LN_box:hover {
	-moz-box-shadow: 0px 1px 10px 0px  #656565;
	-webkit-box-shadow: 1px 10px 0px 0px  #656565;
	-o-box-shadow: 0px 1px 10px 0px  #656565;
	box-shadow: 0px 1px 10px 0px  #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color= #656565;, Direction=180, Strength=10);
	border-bottom: solid 5px rgba(31, 11, 117, 0.9); 
}

.LN_box span {
	display: block;
	text-transform: uppercase;
    font-family: 'kreonregular';
	font-size: 110%;
	padding: 10px 0px 10px 15px;
	border-left: solid 5px rgba(31, 11, 117, 0.9);
	color: rgb(50, 50, 50);
	width: 95%;
}

.LN_box p {
	padding-top: 15px;
	color: rgb(80,80,80);
	width: 100%;
}

.LN_resum {
	display: none;
	left: 15%;
	width: 15%;
}

.LN_resum li:nth-child(1) {
	margin-bottom: 5%;
	border-bottom: solid 1px rgb(210, 210, 210);
}

.LN_resum li:nth-child(2) {
	margin-bottom: 5%;
	border-bottom: solid 1px rgb(210, 210, 210);
}

.LN_resum li:nth-child(3) {
	margin-bottom: 5%;
	border-bottom: solid 1px rgb(210, 210, 210);
}

.LN_resum li:nth-child(4) {
	border-bottom: solid 1px rgb(210, 210, 210);
}

.LN_resum div {
	float: right;
}

.LN_aboutme {
	display: none;
	right: 15%;
	width: 35%;
}

.LN_aboutme p {
	font-style: normal;
	font-size: 1.1em;
}


/*******************
	PROJET PAGE
*******************/

.LN_curriculum {
	left: 7%;
	margin-top: 2.5%;
	width: 10%;
}

.LN_curriculum ul {
	margin: 2% 0 2% 0;
	text-align: center;
}

.LN_curriculum li {
	display: inline-block;
}

.LN_access li:nth-child(1) {
	margin-right: 5%;
}

.LN_curriculum li:nth-child(3) {
	margin-left: 5%;
}

.LN_curriculum i {
    -webkit-transition: color 0.7s;
    transition: color 0.7s;
	color: rgb(180, 180, 180);
}

.LN_curriculum i:hover {
	color: rgba(31, 11, 117, 0.9);
}

/*******************
	PROJET PAGE
*******************/

.LN_student {
	left:20%;
	width: 10%;
}

.LN_professionnal {
	left: 43%;
	width: 10%;
}

.LN_personnal {
	left: 66%;
	width: 10%;
}


/*******************
	CONTACT PAGE
*******************/

.LN_contact {
	margin-left: 34%;
	margin-top: 8%;
	width: 25%;
}

.LN_contact ul {
	text-align: center;
	margin-top: 10%;
	margin-bottom: 10%;
}

.LN_contact li {
	display: inline-block;
}

.LN_contact li:nth-child(1) {
	margin-right: 10%;
}

.LN_contact li:nth-child(1) i:hover {
	color: rgba(15, 157, 222, 0.9);
}

.LN_contact li:nth-child(2) i:hover {
	color: #287BBC;
}

.LN_contact li:nth-child(3) i:hover {
	color: rgba(40, 40, 40, 0.9);
}

.LN_contact li:nth-child(3) {
	margin-left: 10%;
}

.LN_contact i {
    -webkit-transition: color 0.7s;
    transition: color 0.7s;
	color: rgb(180, 180, 180);
}

.LN_contact div {
	font-size: 1.2em;
	text-align: center;
	margin-top: 10%;
	margin-bottom: 10%;
	vertical-align: middle;
}

.LN_contact div i{
	vertical-align: middle;
	margin-right: 5%;
}

.LN_contact div i:hover {
	color: rgba(31, 11, 117, 0.9);
	cursor: pointer;
}

/*******************
	FOOTER
*******************/

#footer {
	position:fixed;
	float: right;
	bottom:10px;
	right: -220px;
	text-align: center;
	border-radius: 5px 0 0 5px;
	padding: 10px 30px 10px 30px;
	height: 40px;
	line-height: 40px;
	background: rgba(31, 11, 117, 0.9);
	z-index:9;
	color: #ddd;
	-moz-box-shadow: 0px 1px 5px 0px #656565;
	-webkit-box-shadow: 0px 1px 5px 0px #656565;
	-o-box-shadow: 0px 1px 5px 0px #656565;
	box-shadow: 0px 1px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
}